

h1{
color:white;
}


body{
margin :auto;   
width: 500px;
margin-top: 100px;
background-color:darkslategrey;
}


.conteneur{
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 5px 10px rgb(200, 199, 199);
width: 500px;
height: 250px; 
padding: 15px;
}


.vert{
background-color:darkolivegreen;
border: 5px solid darkslategrey;
width: 494px;
height: 244px; 
}


.bleu{
background-color:darkblue;
border: 3px solid white;
width: 420px;
height: 150px; 
margin : 34px;
    
}


.orange{
background-color:crimson;
border: 3px solid white;
width: 340px;
height: 65px; 
margin: 37px;
}

